##################
# Plugin Manager
##################
[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'wsdjeg/dein-ui.vim'

##################
# Git / GitHub
##################
[[plugins]]
repo = 'uki1014/vim-to-github'
hook_add = """
lua vim.api.nvim_set_keymap('n', '<Leader>g', ':ToGithub<CR>', { noremap = true })
"""

[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = """
source ~/.config/nvim/plugins/lightline.rc.vim
"""

[[plugins]]
repo = 'kdheepak/lazygit.nvim'
hook_add = """
lua vim.api.nvim_set_keymap('n', '<Leader>z', ':LazyGit<CR>', { noremap = true, silent = true })
"""

[[plugins]]
repo = 'rhysd/git-messenger.vim'
hook_add = """
lua vim.api.nvim_set_keymap('n', '<Leader>gl', ':GitMessenger<CR>', {})
lua vim.g.git_messenger_date_format = '%Y/%m/%d %H:%M'
"""

[[plugins]]
repo = 'airblade/vim-gitgutter'

##################
# Filer
##################
[[plugins]]
repo = 'kristijanhusak/defx-git'

[[plugins]]
repo = 'uki1014/defx.nvim'
depends = ['defx-git']
hook_add = """
source ~/.config/nvim/lua/plugins/defx.lua
"""

##################
# Fuzzy Finder
##################
[[plugins]]
repo = 'Shougo/denite.nvim'
hook_add = """
source ~/.config/nvim/plugins/denite.rc.vim
"""

#[[plugins]]
#repo = 'nvim-lua/popup.nvim'

#[[plugins]]
#repo = 'nvim-lua/plenary.nvim'

#[[plugins]]
#repo = 'nvim-telescope/telescope.nvim'
#hook_add = """
#source ~/.config/nvim/lua/plugins/telescope.lua
#"""

[[plugins]]
repo = "neoclide/coc.nvim"
merged = 0
rev = "release"
hook_add = """
source ~/.config/nvim/plugins/coc.rc.vim
"""

##################
# Utils
##################
[[plugins]]
repo = 'alvan/vim-closetag'
hook_add = """
lua vim.g.closetag_filenames = '*.html,*.xhtml,*xml,*.phtml,*.erb,*.php,*.vue,*.js,*.jsx,*.ts,*.tsx'
"""

[[plugins]]
repo = 'Yggdroot/indentLine'
hook_add = """
lua vim.g.indentLine_fileTypeExclude = {'help', 'nerdtree', 'calendar', 'thumbnail', 'tweetvim', 'defx'}
lua vim.g.indentLine_color_term = '239'
lua vim.g.indentLine_color_gui = '#708090'
lua vim.g.indentLine_char_list = {'┊', '┊', '┊', '┊'}
"""

[[plugins]]
repo = 'preservim/nerdcommenter'
hook_add = """
" デフォルトのキーマッピングをオフ
lua vim.g.NERDCreateDefaultMappings = '0'
" コメントアウト時にスペースを1つ挿入
lua vim.g.NERDSpaceDelims = '1'
" コメント記号を左に揃える
lua vim.g.NERDDefaultAlign = 'left'
" fishのコメントアウトが対応していなかったので追加
lua vim.g.NERDCustomDelimiters = { fish = { left = '#' } }

" コメントアウト
lua vim.api.nvim_set_keymap('n', '<Leader>f', '<Plug>NERDCommenterToggle', {})
lua vim.api.nvim_set_keymap('v', '<Leader>f', '<Plug>NERDCommenterToggle', {})
" コメントアウトしてインサートモード
lua vim.api.nvim_set_keymap('n', '<Leader>r', '<Plug>NERDCommenterAppend', {})
" ブロックコメントアウト
lua vim.api.nvim_set_keymap('n', '<Leader>b', '<Plug>NERDCommenterSexy', {})
lua vim.api.nvim_set_keymap('v', '<Leader>b', '<Plug>NERDCommenterSexy', {})
"""

[[plugins]]
repo = 'uki1014/vim-zenspace'
hook_add = """
lua vim.g['zenspace#default_mode'] = 'on'
"""

[[plugins]]
repo = 'jiangmiao/auto-pairs'

[[plugins]]
repo = 'norcalli/nvim-colorizer.lua'

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'previm/previm'
hook_add = """
lua vim.g.previm_open_cmd = 'open -a "Google Chrome"'
lua vim.api.nvim_set_keymap('n', '<Leader>a', ':PrevimOpen<CR>', { noremap = true })
"""

[[plugins]]
repo = 'thaerkh/vim-workspace'
hook_add = """
lua vim.g.workspace_autocreate = '1'
lua vim.g.workspace_undodir = os.getenv('HOME')..'/.config/nvim/sessions/'
lua vim.g.workspace_autosave = '0'
lua vim.g.workspace_session_directory = os.getenv('HOME')..'/.config/nvim/sessions/'
"""

[[plugins]]
repo = 'uki1014/vim-trailing-whitespace'
hook_add = """
lua vim.api.nvim_set_keymap('n', '<Leader>y', ':FixWhitespace<CR>', { noremap = true })
"""

# [[plugins]]
# repo = 'nvim-treesitter/nvim-treesitter'
# hook_add = """
# source ~/.config/nvim/plugins/treesitter.vim
# """

# [[plugins]]
# repo = 'jamestthompson3/nvim-remote-containers'
